{% extends '@Nurse/Default/base.html.twig' %}

{% block body %}
    <h3 class="center-align">Les articles</h3>

    <div class="row">
        <div class="col s12 m12 l10 offset-l1">

        </div>
    </div>


{% endblock %}
