{% block nav %}
    <ul id="dropdown1" class="dropdown-content">
        {% if app.user %}{% else %}<li><a href="/login">Se connecter</a></li>{% endif %}
        {% if app.user %}{% else %}<li><a href="/register">S'enregister</a></li>{% endif %}
        {% if app.user %}<li><a href="/logout">Se déconnecter</a></li>{% else %}{% endif %}
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Journal</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Accueil</a></li>
                {% if app.user %}
                    {% if app.user.hasRole('ROLE_AUTEUR') %}
                        <li><a href="/user/ajouter">Ajouter</a></li>
                    {% endif %}
                    {% if app.user.hasRole('ROLE_ADMIN') %}
                        <li><a href="/auteur/ajouter">Ajouter</a></li>
                        <li><a href="/admin/admin">Admin</a></li>
                    {% endif %}
                {% endif %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{% if app.user %}{{ app.user.username }}{% else %}Connexion{% endif %}<i class="material-icons white-text right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
