.Article{
    background-color: #f1f1f1;
    border: 1px solid #a7a7a7;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
}
.couleur{
    color: #00838f;
}
.couleur a{
    color: #00838f;
}
.paddingB{
    padding-bottom: 20px !important;
}
.creation{
    color: #424242;
    font-size: 0.8em;
}
a i {
    color: #00838f;
}
.insertphoto{
    color: #00838f;
    font-size: 2em;
    cursor: pointer;
}
select{
    display: block !important;
}
